{% extends "base.html" %}
{% load static %}
{% block title %}All Post{% endblock %}


{% block bootstrap_css_cdn %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}


{% block application_css_file %}
<link rel="stylesheet" href="{% static "blog/app.css" %}">
{% endblock %}


{% block content %}
<div class="container bg-light">
    <p class="text-center fs-4 p-5">My Collected Posts</p>

    <div class="row">
      <!-- Card-1 -->
      <div class="col">
        <a href="#">
          <div class="card" style="width: 18rem">
            <img src="{% static "blog/images/coding.jpg" %}" class="card-img-top" alt="woods" />
            <div class="card-body">
              <h5 class="card-title">Nature At Its Best</h5>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                deleniti laudantium voluptatum illo iste ducimus molestias.
                Saepe perspiciatis ullam maiores.
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card-2 -->
      <div class="col">
        <a href="##">
          <div class="card" style="width: 18rem">
            <img
              src="{% static "blog/images/mountains.jpg" %}"
              class="card-img-top"
              alt="mountains"
            />
            <div class="card-body">
              <h5 class="card-title">Mountain Hiking</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius
                fuga quo maiores dignissimos voluptatem exercitationem. Quasi
                dolor harum quae. Iure sunt quod facere maxime debitis animi,
                incidunt autem ipsam fuga!
              </p>
            </div>
          </div>
        </a>
      </div>

      <!-- Card-3 -->
      <div class="col">
        <a href="##">
          <div class="card" style="width: 18rem">
            <img src="{% static "blog/images/coding.jpg" %}" class="card-img-top" alt="coding" />
            <div class="card-body">
              <h5 class="card-title">Programming Is Great!</h5>
              <p class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Adipisci recusandae esse mollitia blanditiis tempora quam
                vitae aliquam exercitationem reiciendis, odio quia accusamus
                at voluptatum placeat fuga laborum possimus incidunt ullam
                ipsa labore, sint est quaerat?
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--Latest blog container end  -->

  {% include "blog/includes/footer_code.html" %}
{% endblock %}